[Unit]
Description=Notice of the default root password
ConditionFirstBoot=yes
Wants=first-boot-complete.target
Before=first-boot-complete.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo "<4>R36Ultra: the root password is root. Change it with passwd if needed." > /dev/kmsg'

[Install]
WantedBy=multi-user.target
